.landingPage {
  background-color: var(--bordersbackground);
  height: 720px;
  position: relative;
  width: 1430px;
}

.backgroundShape {
  background-color: #74b476;
  border-radius: 0px 0px 0px 73px;
  height: 530px;
  left: 56%; 
  position: absolute;
  top: calc(50.00% - 330px);
  width: 44%; 
  z-index: 0;
}

.image10 {
  height: 470px; 
  left: 66%; 
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 250px);
  width: 34%;
  z-index: 1; 
}

.image11 {
  height: 320px; 
  left: 57%; 
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 100px);
  width: 28%;
  z-index: 2; 
}

.contentContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  left: 2.19%;
  position: absolute;
  top: 152px;
  width: 48.13%;
  z-index: 3; 
}

.mainHeading {
  align-items: center;
  align-self: stretch;
  color: var(--textprimary);
  display: flex;
  font-family: "Preahvihear-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  justify-content: center;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.subHeading {
  align-items: center;
  align-self: stretch;
  color: var(--textsecondary);
  display: flex;
  font-family: "Lato-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
}

.header {
  height: 70px;
  left: 0;
  position: relative;
  top: 0;
  width: calc(100% + 2px);
}

.headerBackground {
  background-color: #388e3c;
  border-radius: 0px 0px 30px 30px;
  height: 70px;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - 2px);
}

.logo {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-family: "Preahvihear-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  height: 58px;
  justify-content: center;
  left: 28px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6px;
  width: 124px;
}

.btnPrimary {
  height: 60px;
  width: 200px;
}

.btnPrimaryText {
  margin-bottom: -0.5px;
  margin-top: -2.5px;
}

.btnSecondary {
  display: flex;
  height: 48px; 
  position: absolute;
  right: 20px;
  top: 11px; 
  width: 140px; 
  align-items: center;
  justify-content: center;
}
.btnSecondaryText {
  margin: 0; 
  display: block;
  text-align: center;
  width: 100%;
  padding: 0;
  line-height: 1;
  font-size: 18px;
}