.btnPrimary {
  background-color: var(--primary-green);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Lato-SemiBold', Helvetica;
  font-size: 16px;
}