.btnPrimary {
  background-color: var(--primary-green);
  color: white;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);

  /* Padding y Flexbox para centrar contenido */
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  /* Transiciones y cursor */
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, transform 0.2s, border 0.2s;
}

.btnPrimary:hover {
  background-color: var(--primary-green-dark);
  color: white;
}

.btnPrimary:active {
  background-color: var(--primary-green-light);
  border: 5px solid;
  border-color: var(--primary-green-dark);
  color: var(--textprimary);
  transform: translateY(0);
}

/*
.label {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-family: "Preahvihear-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  justify-content: center;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}


.label-on-click {
  color: #212121;
  margin-top: -5.00px;
}
*/