.btnSecondary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bordersbackground);
  color: var(--primary-green);
  border: 2px solid var(--primary-green);
  height: 48px;
  width: 140px;
  padding: 0 12px;
  border-radius: 12px;
  cursor: pointer;
  font-family: 'Lato-SemiBold', Helvetica;
  font-size: 14px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  z-index: 5;
}