.btnSecondary {
  background-color: var(--bordersbackground);
  border: 2px solid var(--primary-green-dark);
  border-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);

  padding: 0 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  /* Transiciones y cursor */
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.btnSecondary:hover {
  background-color: var(--primary-green);
  border-color: var(--primary-green-light);
  border: 2px solid;
  color: var(--bordersbackground);
}

.btnSecondary:active {
  background-color: var(--primary-green-light);
  border-color: var(--primary-green);
  color: var(--textprimary);
  transform: translateY(0);
}