.button {
  align-items: center;
  all: unset;
  border-radius: var(--size-radius-200);
  box-sizing: border-box;
  display: inline-flex;
  gap: var(--size-space-200);
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.button.size-small {
  padding: var(--size-space-200);
}

.button.size-medium {
  padding: var(--size-space-300);
}

.button.variant-primary.state-default {
  background-color: var(--color-background-danger-default);
  border: 1px solid;
  border-color: var(--color-border-danger-secondary);
  left: 20px;
  top: 20px;
}

.button.variant-primary.state-hover {
  background-color: var(--color-background-danger-hover);
  border: 1px solid;
  border-color: var(--color-border-danger-default);
}

.button.variant-primary.state-hover.size-medium {
  left: 135px;
  top: 20px;
}

.button.variant-primary.state-hover.size-small {
  left: 139px;
  top: 180px;
}

.button.variant-primary.state-disabled {
  background-color: var(--color-background-disabled-default);
  border: 1px solid;
  border-color: var(--color-border-disabled-default);
}

.button.variant-primary.state-disabled.size-medium {
  left: 250px;
  top: 20px;
}

.button.variant-primary.state-disabled.size-small {
  left: 254px;
  top: 180px;
}

.button.variant-primary.size-small.state-default {
  left: 24px;
  top: 180px;
}

.button.variant-subtle.state-hover {
  background-color: var(--color-background-danger-tertiary-hover);
  border: 1px solid;
  border-color: var(--color-border-danger-default);
}

.button.variant-subtle.size-medium {
  top: 100px;
}

.button.variant-subtle.size-medium.state-default,
.button.variant-subtle.size-medium.state-hover {
  left: 20px;
}

.button.variant-subtle.size-medium.state-disabled {
  left: 250px;
}

.button.variant-subtle.size-small {
  top: 252px;
}

.button.variant-subtle.size-small.state-default,
.button.variant-subtle.size-small.state-hover {
  left: 24px;
}

.button.variant-subtle.size-small.state-disabled {
  left: 254px;
}

.button.variant-subtle.state-disabled {
  background-color: var(--color-background-disabled-default);
  border: 1px solid;
  border-color: var(--color-border-disabled-default);
}

.label {
  font-family: var(--single-line-body-base-font-family);
  font-size: var(--single-line-body-base-font-size);
  font-style: var(--single-line-body-base-font-style);
  font-weight: var(--single-line-body-base-font-weight);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.label.label-variant-subtle.label-state-default,
.label.label-variant-subtle.label-state-hover {
  color: var(--color-text-danger-default);
}

.label.label-variant-primary.label-state-disabled {
  color: var(--color-text-disabled-on-disabled);
}

.label.label-variant-subtle.label-state-disabled {
  color: var(--color-text-disabled-default);
}

.label.label-variant-primary.label-state-default,
.label.label-variant-primary.label-state-hover {
  color: var(--color-text-danger-on-danger);
}