body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.app {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

body, html, #root {
  width: 100%;
  min-height: 100vh; /* Ocupa al menos toda la altura */
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Importante para que el padding no cause problemas */
}