:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

:root {
  --accent: #f5efe6;
  --primary-green: #388e3c;
  --primary-green-dark: #2e7d32;
  --primary-green-tabs: #95c997;
  --textprimary: #212121;
  --textsecondary: #757575;
  --bordersdivs: #e0e0e0;
}